<!--<app-child [girl]="name"></app-child>-->
<app-child [girl]="name"></app-child>
<select [(ngModel)]="name">
  <option>Sasha</option>
  <option>Masha</option>
  <option>Dasha</option>
  <option>Natasha</option>
</select>
<!--<select [(ngModel)]="country">-->
<!--  <option>USA</option>-->
<!--  <option>France</option>-->
<!--  <option>Germany</option>-->
<!--  <option>Israel</option>-->
<!--</select>-->
<!--<p>{{address}}</p>-->
<!--<app-select [array]="getCountries()" (selValue)="getCountry($event)"></app-select>-->
<!--<app-select [array]="data[country]" (selValue)="getCity($event)"></app-select>-->
