<div [ngClass]="'wrap'">

  <div [ngClass]="'card'">
    <app-chat-instance [name]="'Sasha'"></app-chat-instance>
  </div>
  <div [ngClass]="'card'">
    <app-chat-instance [name]="'Masha'"></app-chat-instance>
  </div>
  <div [ngClass]="'card'">
    <app-chat-instance [name]="'Glasha'"></app-chat-instance>
  </div>
  <div [ngClass]="'card'">
    <app-chat-instance [name]="'Dasha'"></app-chat-instance>
  </div>
  <div [ngClass]="'card'">
    <app-chat-instance [name]="'Natasha'"></app-chat-instance>
  </div>

</div>
